.header {
    padding: 0 0 12px 0;
    margin: 0 0 12px 0;
    border-bottom: 1px solid #999;
}

#profile_photo {
    float: right; 
}

.contacts {
    font-style: italic;
    padding: 0 0 12px 0;
    margin: 0 0 12px 0;
}

body {
    background: url(images/background.jpg);
    width: 1200px; 
    margin: 40px auto 60px;
}

.footer {
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
    text-align: center;
}

.test {
    width: 180px;
    font-style: italic; 
    font-weight: bold; 
    font-size: 18px; 
    border-right: 1px solid #000000;
}

td {
    padding: 0 10px 20px 10px;
    margin: 0 10px 20px 10px;
    vertical-align: text-top;
}