.header {
    background-color: white;
    padding: 0 0 12px 0;
    margin: 0 0 12px 0;
    border-bottom: 1px solid #999;
}

#profile_photo {
    float: right; 
}

.contacts {
    font-style: italic;
    padding: 0 0 12px 0;
    margin: 0 0 12px 0;
}

.footer {
    background-color: #999;
    padding: 0 0 12px 0;
    margin: 0 0 12px 0;
    text-align: center;
}